
gaming/Votes.xml
gaming/Users.xml
gaming/Tags.xml
gaming/Posts.xml
gaming/PostLinks.xml
gaming/PostHistory.xml
gaming/Comments.xml
gaming/Badges.xml
chess.stackexchange/Votes.xml.csv
chess.stackexchange/Users.xml.csv
chess.stackexchange/Tags.xml.csv
chess.stackexchange/Posts.xml.csv
chess.stackexchange/PostLinks.xml.csv
chess.stackexchange/PostHistory.xml.csv
chess.stackexchange/Comments.xml.csv
chess.stackexchange/Badges.xml.csv
.Rproj.user
boardinggames.stackexchange/Votes.xml.csv
boardinggames.stackexchange/Users.xml.csv
boardinggames.stackexchange/Tags.xml.csv
boardinggames.stackexchange/Posts.xml.csv
boardinggames.stackexchange/PostLinks.xml.csv
boardinggames.stackexchange/PostHistory.xml.csv
boardinggames.stackexchange/Comments.xml.csv
boardinggames.stackexchange/Badges.xml.csv
arqade.stackexchange/Votes.xml.csv
arqade.stackexchange/Users.xml.csv
arqade.stackexchange/Tags.xml.csv
arqade.stackexchange/Posts.xml.csv
arqade.stackexchange/PostLinks.xml.csv
arqade.stackexchange/PostHistory.xml.csv
arqade.stackexchange/Comments.xml.csv
arqade.stackexchange/Badges.xml.csv
Presentation_files/figure-beamer/one-1.pdf
Presentation_cache/beamer/one_f0d4e58c0fe68d9923ff04ffa3990c42.rdx
Presentation_cache/beamer/one_f0d4e58c0fe68d9923ff04ffa3990c42.rdb
Presentation_cache/beamer/one_f0d4e58c0fe68d9923ff04ffa3990c42.RData
Presentation_cache/beamer/Main_73d267fe33dc307a8a2b4e3bcfd0ab62.rdx
Presentation_cache/beamer/Main_73d267fe33dc307a8a2b4e3bcfd0ab62.rdb
Presentation_cache/beamer/Main_73d267fe33dc307a8a2b4e3bcfd0ab62.RData
Presentation_cache/beamer/__packages
Presentation_files/figure-beamer/tree-1.pdf
Presentation_cache/beamer/two_7907c2ca7818405ef65417ddd471315d.rdx
Presentation_cache/beamer/two_7907c2ca7818405ef65417ddd471315d.rdb
Presentation_cache/beamer/two_7907c2ca7818405ef65417ddd471315d.RData
Presentation_cache/beamer/tree_4e9c42f2d3ebc9b73d3f31d7b632c9b7.rdx
Presentation_cache/beamer/tree_4e9c42f2d3ebc9b73d3f31d7b632c9b7.rdb
Presentation_cache/beamer/tree_4e9c42f2d3ebc9b73d3f31d7b632c9b7.RData
Presentation_files/figure-beamer/tree1-1.pdf
Presentation_cache/beamer/two_29a2af30fb713d11f6fd8b25ae8e308e.rdx
Presentation_cache/beamer/two_29a2af30fb713d11f6fd8b25ae8e308e.rdb
Presentation_cache/beamer/two_29a2af30fb713d11f6fd8b25ae8e308e.RData
Presentation_cache/beamer/tree_1ee880515ca911738bdba42794350c45.rdx
Presentation_cache/beamer/tree_1ee880515ca911738bdba42794350c45.rdb
Presentation_cache/beamer/tree_1ee880515ca911738bdba42794350c45.RData
Presentation_cache/beamer/tree1_c55b05406866e556b18f717d477ac3c4.rdx
Presentation_cache/beamer/tree1_c55b05406866e556b18f717d477ac3c4.rdb
Presentation_cache/beamer/tree1_c55b05406866e556b18f717d477ac3c4.RData
Presentation_cache/beamer/four_65ee2de2cff8ad379ab666d9861a35e8.RData
Presentation_cache/beamer/four_65ee2de2cff8ad379ab666d9861a35e8.rdb
Presentation_cache/beamer/four_65ee2de2cff8ad379ab666d9861a35e8.rdx
Presentation_cache/beamer/tree_e5d7816596e9d415120543415af31db5.RData
Presentation_cache/beamer/tree_e5d7816596e9d415120543415af31db5.rdb
Presentation_cache/beamer/tree_e5d7816596e9d415120543415af31db5.rdx
Presentation_cache/beamer/two_f54bae5e35b754bd358e682ab55add9a.RData
Presentation_cache/beamer/two_f54bae5e35b754bd358e682ab55add9a.rdb
Presentation_cache/beamer/two_f54bae5e35b754bd358e682ab55add9a.rdx
Presentation_files/figure-beamer/four-1.pdf
poker/Posts.xml.csv
poker/Posts.xml
.Rhistory
.RData
Presentation_cache/beamer/gif_83570d3f600c1911cf686ece1f498d65.RData
Presentation_cache/beamer/gif_83570d3f600c1911cf686ece1f498d65.rdb
Presentation_cache/beamer/gif_83570d3f600c1911cf686ece1f498d65.rdx
Presentation_cache/beamer/one_92ceb76a431033a54890e7fde3583175.RData
Presentation_cache/beamer/one_92ceb76a431033a54890e7fde3583175.rdb
Presentation_cache/beamer/one_92ceb76a431033a54890e7fde3583175.rdx
Presentation_cache/html/__packages
Presentation_cache/html/four_5f801374dd65bc67905f3e4e0c8c1d40.RData
Presentation_cache/html/four_5f801374dd65bc67905f3e4e0c8c1d40.rdb
Presentation_cache/html/four_5f801374dd65bc67905f3e4e0c8c1d40.rdx
Presentation_cache/html/gif_e94a5e6b34e4cae4123c9b8f91913bce.RData
Presentation_cache/html/gif_e94a5e6b34e4cae4123c9b8f91913bce.rdb
Presentation_cache/html/gif_e94a5e6b34e4cae4123c9b8f91913bce.rdx
Presentation_cache/html/Main_1fdfa3b3882ee39206cb27cb9c61daf4.RData
Presentation_cache/html/Main_1fdfa3b3882ee39206cb27cb9c61daf4.rdb
Presentation_cache/html/Main_1fdfa3b3882ee39206cb27cb9c61daf4.rdx
Presentation_cache/html/one_36d1ef7daab7c6ee756ef9ddf6f80c4d.RData
Presentation_cache/html/one_36d1ef7daab7c6ee756ef9ddf6f80c4d.rdb
Presentation_cache/html/one_36d1ef7daab7c6ee756ef9ddf6f80c4d.rdx
Presentation_cache/html/tree_29c2f2b8be47a100550984288d5169ad.RData
Presentation_cache/html/tree_29c2f2b8be47a100550984288d5169ad.rdb
Presentation_cache/html/tree_29c2f2b8be47a100550984288d5169ad.rdx
Presentation_cache/html/two_d0da8997b033cd31abe2413162b44635.RData
Presentation_cache/html/two_d0da8997b033cd31abe2413162b44635.rdb
Presentation_cache/html/two_d0da8997b033cd31abe2413162b44635.rdx
Presentation_files/figure-html/four-1.png
Presentation_files/figure-html/tree-1.png
Presentation_files/figure-beamer/two-3.pdf
Presentation_files/figure-beamer/two-2.pdf
Presentation_files/figure-beamer/two-1.pdf
Presentation_cache/beamer/two_07f83b1a1b24a33aeaaf122ef5d159d3.rdx
Presentation_cache/beamer/two_07f83b1a1b24a33aeaaf122ef5d159d3.rdb
Presentation_cache/beamer/two_07f83b1a1b24a33aeaaf122ef5d159d3.RData
Presentation_cache/beamer/one_510eafe7df2899372fd286d43487eec7.rdx
Presentation_cache/beamer/one_510eafe7df2899372fd286d43487eec7.rdb
Presentation_cache/beamer/one_510eafe7df2899372fd286d43487eec7.RData
.Rhistory
